.App {
  text-align: center;
  background-image: url('../public/HomePage.png');
  background-size: cover;
  background-position: center bottom 25%;
  background-repeat: no-repeat;
}
.my-app{
  font-size: 4rem;
  color:white;
  font-style: oblique;
  
  text-shadow: 
  -2px -2px 0 black, 
   2px -2px 0 black, 
  -2px  2px 0 black, 
   2px  2px 0 black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Button{
  width: 22%;
  color: white;
  text-align: center;
  aspect-ratio: 1/1;
  font-style: oblique;
  font-size: 5vw;
  border-radius: 15%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 7%;
  margin-right: 7%;
  border: none;
}
Button:hover {
  filter: brightness(1.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
