.models {
    display: flex;
    flex-wrap: wrap; 
    width: 100%; 
    overflow-x: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
}
.delete, .update, .complete, .save, .add {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1; 
    font-size: 1.5rem;
    border-radius: 50% !important;
    border: none;
}
.delete { background-color: red; width: 17%; height: 17%; }
.save { background-color: blue; width: 57px; height: 57px; }
.add { background-color: green; width: 3.5%; height: 3.5%; }
.update { background-color: yellow; width: 17%; height: 17%; }
.complete { background-color: palevioletred; width: 17%; height: 17%; }

.item{
    color: white;
    width: 22%;
    align-items: center;
    aspect-ratio: 1/1;
    font-size: 2rem;
    border-radius: 15%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
}

.models-Button:hover {
    filter: brightness(1.2);
}
img{
    width: 50%;
    height: 35%;
    border-radius: 2vw;
}
