.models {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; /* מבטיח פיזור שווה */
    width: 100%; 
    overflow-x: auto;
    margin-left: 3%;
    margin-right: 3%;
}
.delete, .update, .complete, .save, .add {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1; 
    font-size: 1.5rem;
    border-radius: 50% !important;
    border: none;
}
.delete { 
    background-color: red;
    width: 17%;
    height: 17%;
}
.save { 
    background-color: blue;
    width: 57px; 
    height: 57px; 
}
.add { 
    background-color: green;
    align-items: center; 
    width: 3.5%; 
    height: 3.5%;
    margin-top: 7%;
    margin-bottom: 2%;
    margin-right:30%;
    margin-left: 45%;
}
.update { 
    background-color: yellow; 
    width: 17%; 
    height: 17%; 
}
.complete { 
    background-color: palevioletred; 
    width: 17%; 
    height: 17%; 
}


.item {
    color: white;
    width: 20%;
    align-items: center;
    aspect-ratio: 1/1;
    font-size: 2rem;
    border-radius: 15%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 5%;
    
}


.models-Button:hover {
    filter: brightness(1.2);
}
img{
    width: 50%;
    height: 35%;
    border-radius: 2vw;
}
